.header{
    background-color: whitesmoke;
    color: red;
    text-shadow: 1px 1px wheat;
    text-align: center;

}
.HP{
    text-align: right;
    color: black;

}
.DT{
    color: black;
    background-color: white;

}
.box{
    padding-left: 1px ;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    animation-name: box;
    animation-duration: 10s;
    animation-timing-function:ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
}
@keyframes box {
    0% {
        background-color:lightgray;
    }
    20% {
        background-color:lightgreen;
    }
    40% {
        background-color: lightskyblue;
    }
    60% {
        background-color:aquamarine;
    }
    80% {
        background-color:aqua;
    }
    100% {
        background-color: lightgreen;
    }
}
.nav{
    background-color: gray;
    padding: 6px;
    
    
}
.NT{
    margin: 20px;
    background-color: gray;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      rgba(255,255,255,0.3) 50%,
      transparent 100%
    );
    background-repeat: no-repeat;
    background-position: -100vw;
    animation: shine 3s infinite;
  }
@keyframes shine {
    0% {
      background-position: -100vw;    
    }
    100% {
      background-position: 100vw;   
    }
  }
.NT:hover{
    color: blue;

}
.NT:active{
    color: green;
}

.content{
    background-color: whitesmoke;
}
.foot{
    background-color: black;
    color: whitesmoke;
    padding: 3px;
}


 